<div class="page-header">
	<h1>
		Edit <small> <i class="ace-icon fa fa-angle-double-right"></i>
		Edit Billing Price
		</small>
	</h1>
</div>
<div class="row">
<div class="col-xs-12">
		<a class="btn btn-xs btn-info" th:href="@{/admin}"><i
			class="fa fa-home"></i> System Dashboard</a> <a
	   class="btn btn-xs btn-primary" th:href="@{/admin/billScheme}">
			<i class="fa fa-list"></i> All Billing Scheme</a>
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
	<form role="form" class="form-horizontal" method="POST"
						th:object="${pForm}">
						<legend>Billing Item Price Form</legend>						
					<div class="form-group">
							<label for="name" class="col-sm-3 control-label no-padding-right">Unit:</label>
							<div class="col-sm-9">
								<select type="text" class="col-xs-10 col-sm-5"
									placeholder="" th:field="*{unitOfMeasureId}">
									<option value="">Select..</option>
									<option th:each="c: ${uni}" th:value="${c.unitOfMeasureId}"
										th:text="${c.unitOfMeasure}"></option>
								</select>
							</div>
						</div>
					
				<div class="form-group">
							<label for="name" class="col-sm-3 control-label no-padding-right">Price:</label>
							<div class="col-sm-9">
								<input type="text" class="col-xs-10 col-sm-5"
									placeholder="Price" th:field="*{billItemPrice}"
									required="required" /> <span class="text-danger"
									th:if="${#fields.hasErrors('billItemPrice')}" th:errors="*{billItemPrice}"></span>
							</div>
						</div>		
						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input type="hidden" th:field="*{billItemPriceId}" />
								<button class="btn btn-primary" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i> Update
								</button>
								<button class="btn btn-danger" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i> Reset
								</button>
							</div>
						</div>
					</form>
	</div>
</div>