<div class="page-header">
	<h1>
		Edit <small> <i class="ace-icon fa fa-angle-double-right"></i>
			Edit Package Limit
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"> 
			<i class="fa fa-home"></i> System Dashboard
		</a> <a class="btn btn-xs btn-primary" th:href="@{/hmo/index}">
		
			<i class="fa fa-list"></i> All HMOs
		</a> 
		
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>
<div class="row">
	<div class="col-xs-12">
	 <!-- View contents here -->
	 <form role="form" class="form-horizontal" method="POST"
						th:object="${hmopackItemForm}"  >
		                 
					 	<div class="form-group">
				<label for="name"
					class="col-sm-3 control-label no-padding-right">
					 Name</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Name" th:field="*{name}"
						required="required" /> <span class="text-danger"
						th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></span>
				</div>
			</div>
			
			
					 	<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">
					 Description</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"
						placeholder="Description" th:field="*{description}"
						required="required" /> <span class="text-danger"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			<!-- 

					 	<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">
					 Global Item</label>
				<div class="col-sm-9">
				
				<input type="text" class="col-xs-10 col-sm-8"  	 
									  id="billingitem"   required="required" disabled="disabled" th:attr="value = ${billitemname}"/>  
									  
								<input type="text" class="col-xs-5 col-sm-5"  placeholder="Billing Item" 
									th:field="*{billingitem_id}"  hidden="hidden" />  
				
			<a	class="btn btn-xs btn-success" onclick ="myOpenbillingitemwin()"> <i	class="glyphicon glyphicon-list"></i> Search</a>	
	 
									
									 <span class="text-danger"
						th:if="${#fields.hasErrors('billingitem_id')}"
						th:errors="*{billingitem_id}"></span>
				</div>
			</div>
	
-->

			
			
			
					 	<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">
					 Spending Limit</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
					
						placeholder="SpendingLimit" th:field="*{spendingLimit}"
						required="required" /> <span class="text-danger"
						th:if="${#fields.hasErrors('spendingLimit')}"
						th:errors="*{spendingLimit}"></span>
				</div>
			</div>
			
			
			
					 	<div class="form-group">
				<label for="description"
					class="col-sm-3 control-label no-padding-right">
					 No of Times</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
					
						placeholder="No of Time" th:field="*{timeNo}" 
						required="required" /> <span class="text-danger"
						th:if="${#fields.hasErrors('timeNo')}"
						th:errors="*{timeNo}"></span>
				</div>
			</div>
			
			
			
				
					 	<div class="form-group">
				<label for="periodno"
					class="col-sm-3 control-label no-padding-right">
					 Every</label>
				<div class="col-sm-9">
					<input type="text" class="col-xs-10 col-sm-5" oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
					
						placeholder="" th:field="*{periodNo}" required="required"
					/> <span class="text-danger"
						th:if="${#fields.hasErrors('periodNo')}"
						th:errors="*{periodNo}"></span>
				</div>
			</div>
			
			

			
			<div class="form-group">
				<label for="title" class="col-sm-3 control-label no-padding-right">Period:</label>
				<div class="col-sm-9">
					<select th:field="*{period_id}" class="col-xs-10 col-sm-5">
					
						<option th:each="s: ${period}" th:value="${s.period_id}"
							th:text="${s.name}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('period_id')}"
						th:errors="*{period_id}"></span>
				</div>
			</div>
						
			
				<div class="form-group" hidden="hidden">
				<label for="title" class="col-sm-3 control-label no-padding-right">Include All:</label>
				<div class="col-sm-9">
					<select th:field="*{Isall}" class="col-xs-10 col-sm-5">
					
						<option  th:value="0" th:text="No"></option>
						<option  th:value="1" th:text="Yes"></option>
						
					</select> <span class="text-danger" th:if="${#fields.hasErrors('Isall')}"
						th:errors="*{Isall}"></span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label for="title" class="col-sm-3 control-label no-padding-right">Status:</label>
				<div class="col-sm-9">
					<select th:field="*{status_id}" class="col-xs-10 col-sm-5">
					
						<option th:each="s: ${hmostatus}" th:value="${s.hmostatus_id}"
							th:text="${s.name}"></option>
					</select> <span class="text-danger" th:if="${#fields.hasErrors('status_id')}"
						th:errors="*{status_id}"></span>
				</div>
			</div>
						

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<input  type="hidden" th:field="*{hmopackage_id}" />
								<button class="btn btn-primary" type="submit">
									<i class="ace-icon fa fa-check bigger-110"></i> Update
								</button>

								<button class="btn btn-danger" type="reset">
									<i class="ace-icon fa fa-undo bigger-110"></i> Reset
								</button>
							</div>
						</div>






					</form>
	</div>
</div>

<script>


function Confirm(id)
{

	
    job=confirm("Are you sure to delete ?");
    if(job!=true)
    {
        return false;
    }
	
};

	
	
	function myOpenbillingitemwin() {
		   var myWindow = window.open("/EMR/search/billingitemsearchwin", "MsgWindow", "width=550, height=600");
		  //  myWindow.document.write("<p>This window's name is: " + myWindow.name + "</p>");
		    myWindow.focus();
		    return false
		  
		};
		
	
	function mybillingitem()
	{
		
		if ( $('#billingitem').val()=='' )
			
			{
			
			alert("Billing Item cannot be empty");
			return false;	
			}
		
		
		
	};
	


</script>