<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<form role="form" class="form-horizontal" method="get" style="margin-top:20px;">
			<div class="form-group">
				<label for="account_no" class="col-sm-2 control-label no-padding-right">GL Account No:</label>
				<div class="col-sm-3">
					<input id="account_no"  name="account_no"  style="margin-bottom:0px;"   />
					<span class="text-danger" th:if="${#fields.hasErrors('account_no')}"
						th:errors="*{account_no}">
					</span>
				</div>
				<label for="start_date" class="col-sm-1 control-label no-padding-right">From:</label>
				<div class="col-sm-2">
					<input id="start_date"  name="start_date"  style="margin-bottom:0px;"   />
					<span class="text-danger" th:if="${#fields.hasErrors('start_date')}"
						th:errors="*{start_date}">
					</span>
				</div>
				<label for="end_date" class="col-sm-1 control-label no-padding-right">To:</label>
				<div class="col-sm-2">
					<input id="end_date"  name="end_date_search" style="margin-bottom:0px;"   />
					<span class="text-danger" th:if="${#fields.hasErrors('end_date')}"
						th:errors="*{end_date}">
					</span>
				</div>
				<button type="submit" class="btn btn-xs btn-primary">Searcn</button>
			</div>
		</form>
		<div class="table-header">List of Entries </div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Account Number</th>
					<th>Amount</th>
					<th>Post Code</th>
					<th>Branch ID</th>
					<th>Batch No</th>
					<th>Ref No</th>
					<th>Description</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody id="tbody">
				<!-- <tr th:each="glEntry : ${glEntries}">
					<td th:text="${glEntry.account_no}">Account Number</td>
					<td th:text="${glEntry.amount}">Amount</td>
					<td th:text="${glEntry.post_code}">Post Code</td>
					<td th:text="${glEntry.branch}">Branch ID</td>
					<td th:text="${glEntry.batch_no}">Batch No</td>
					<td th:text="${glEntry.ref_no1}">Ref No</td>
					<td th:text="${glEntry.description}">Description</td>
					
						
					<td>
						
						<span th:if="${glEntry.ref_no2 != 'REVERSED' and glEntry.ref_no2  != 'REVERSAL' and glEntry.product_id == null}">
							<a class="btn btn-xs btn-danger tooltips reverse" 
								title="Reverse Entry"   th:id="${glEntry.batch_no}" 
								href="#"> <i
									class="fa fa-reply"></i>
							</a>
						</span>
					</td>
				</tr> -->
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

	$(".search").click(function(){
		var account_no = $("#account_no").val();
		var start_date = $("#start_date").val();
		var end_date = $("#end_date").val();

		if(account_no || start_date || end_date){
			alert("you must select");
		} else {
			alert("selected all ");
			$.ajax({
				type : "GET",
				url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/listings/' + account_no + "/" + start_date + "/"	+ end_date,
				success : function(value) {
					$("#tbody").html(value);
				}
			});
		}
	});


/*]]>*/
</script>