<th:block xmlns:th="http://www.thymeleaf.org">
<div class="page-header">
	<h1>
		GL Entries
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/direct/post}">
			<i class="fa fa-plus-circle"></i> New GL Posting
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<form role="form" class="form-horizontal" method="POST"  style="margin-top:20px;" th:object="${criteria}" >
			<div class="form-group" >				
				<label for="accountNo" class="col-md-4 control-label no-padding-right">GL Account No:</label>
				<div class="col-sm-3">
					<input type="text" class="col-xs-12 col-sm-12"  id="accountNo"  th:field="*{accountNo}"   />					
				</div>				
			</div>
			
			<div class="form-group" >				
				<label for="startDate" class="col-sm-4 control-label no-padding-right">Start Date:</label>
				<div class="col-sm-3">
					<input type="text" class="col-xs-12 col-sm-12 date-picker"  
					id="date-picker-1"
						data-date-format="yyyy-mm-dd" th:field="*{startDate}"   />					
				</div>				
			</div>
			
			<div class="form-group" >				
				<label for="endDate" class="col-sm-4 control-label no-padding-right">End Date:</label>
				<div class="col-sm-3">
					<input type="text" class="col-xs-12 col-sm-12 date-picker"  
					id="date-picker-2"
						data-date-format="yyyy-mm-dd"  th:field="*{endDate}"   />					
				</div>				
			</div>
			
			<div class="clearfix form-actions">
				<div class="col-md-12">
					<div class="col-md-6 col-md-offset-4"> 
						<button class="btn btn-primary" id="submit" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i> Search
						</button>
						<button class="btn btn-primary" id="button" type="button" >
							<i class="ace-icon fa fa-check bigger-110"></i> Reset
						</button>
					</div>
				</div>
			</div>	
	</form>
		
		<div class="table-header">List of Entries </div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Account Number</th>
					<th>Amount</th>
					<th>Post Code</th>
					<th>Branch</th>
					<th>Batch No</th>
					<th>Ref No</th>
					<th>Description</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody id="tbody">
				<tr th:each="glEntry : ${glEntries}">
					<td th:text="${glEntry.accountNo}">Account Number</td>
					<td th:text="${glEntry.amount}">Amount</td>
					<td th:text="${glEntry.postCode}">Post Code</td>
					<td th:text="${glEntry.branch.name}">Branch ID</td>
					<td th:text="${glEntry.batchNo}">Batch No</td>
					<td th:text="${glEntry.refNo1}">Ref No</td>
					<td th:text="${glEntry.description}">Description</td>
					
						
					<td>
						
						<span th:if="${glEntry.refNo2 != 'REVERSED' and glEntry.refNo2  != 'REVERSAL'}">
							<a class="btn btn-xs btn-danger tooltips reverse" 
								title="Reverse Entry"   th:id="${glEntry.batchNo}" 
								href="#"> <i
									class="fa fa-reply"></i>
							</a>
						</span>
					</td>
				</tr>
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/
$('.date-picker').datepicker({
	autoclose : true,
	format: 'yyyy-mm-dd',
	todayHighlight : true
})//show datepicker when clicking on the icon
.next().on(ace.click_event, function() {
	$(this).prev().focus();
});

$(".reverse").click(function(){
	var batchNo = this.id;
	
	$.ajax({
		type : "GET",
		url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/reversal/'	+ batchNo,
		success : function(value) {
			//if value is true, then you can't delete 
		}
	});
});


jQuery(function($) {
	var oTable1 = $('#dTable').dataTable({
	bAutoWidth : false
	,
	"aoColumns" : [ 
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true },
	{ "bSortable" : true }


	],

	//,
	//"sScrollY": "200px",
	"bPaginate": true,
	//"sScrollX": "100%",
	//"sScrollXInner": "120%",
	//"bScrollCollapse": true,
	//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
	//you may want to wrap the table inside a "div.dataTables_borderWrap" element

	//"iDisplayLength": 50
	});

	});
	/* $(".search").click(function(){
		var accountNo = $("#accountNo").val();
		var startDate = $(".startDate").val();
		var endDate = $(".endDate").val();

		if(accountNo || startDate || endDate){
			alert("you must select");
		} else {
			alert("selected all ");
			$.ajax({
				type : "GET",
				url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/listingss/' + accountNo + "/" + startDate + "/"	+ endDate,
				success : function(value) {
					console.log(value);
					$("#tbody").html(value);
				}
			});
		}
	}); */


/*]]>*/
</script>
</th:block>