<div class="page-header">
	<h1>
		Add New Category
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/ledger_cat/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/ledger_cat/create}">
			<i class="fa fa-plus-circle"></i> Add Category 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div style="margin-top: 50px;">
	<form role="form" class="form-horizontal" method="POST"
			th:object="${category}">
			
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label no-padding-right">Name:</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" placeholder="Name"
					th:field="*{name}" required="required" /> <span
					class="text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Active Status:</label>
			<div class="col-sm-9">
				<select th:field="*{isActive}" class="col-xs-10 col-sm-5"  required="required" id="isActive">
					 <option value="">Select..</option>
					<option value="0">Inactive</option>
					<option value="1">Active</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('isActive')}"
					th:errors="*{isActive}">
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Parent Category:</label>
			<div class="col-sm-9">
				<select th:field="*{parentID}" class="col-xs-10 col-sm-5"  required="required">
					<option value="0">NONE</option>
						<option th:each="ledgerCat: ${ledgerCats}" 
					th:value = "${ledgerCat.id}" 
					th:text="${ledgerCat.name}">Parent Name</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('parentID')}"
					th:errors="*{parentID}">
				</span>
			</div>
		</div>
		
		
		<!-- <div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Ledger Type:</label>
			<div class="col-sm-9">
				<select th:field="*{ledgerType}" class="col-xs-10 col-sm-5"  required="required">
						<option th:each="ledgerType: ${ledgerTypes}" 
					th:value = "${ledgerType.id}" 
					th:text="${ledgerType.name}">Ledger Type</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('ledgerType')}"
					th:errors="*{ledgerType}">
				</span>
			</div>
		</div> -->
		
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-primary" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i> Add
				</button>

				<button class="btn btn-danger" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i> Reset
				</button>
			</div>
		</div>
	</form>
</div>


<script>
/*
 * 
 use the th:id to get the parent_ledgerType and set ledger type where id = parent_ledgerType
 add the CDATA nonsense oo
 */
</script>