<div class="page-header">
	<h1>
		Posting
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div>
	<form role="form" class="form-horizontal" method="POST" style="margin-top:20px;"
			th:object="${posting}">
		<div class="col-md-5 col-md-offset-1">
			<!-- <div class="row"> -->
			
				<div class="form-group">
					<label for="p_account_type" class="col-sm-3 control-label no-padding-right">Account Type:</label>
					<div class="col-sm-9">
						<select th:field="*{p_account_type}" size="" class="col-xs-10 col-sm-7" style="margin-top:0px;"  required="required">
							<option value="">Select account type</option>
							<option th:value="GL">GL</option>
							<option th:value="CL">Customer</option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('p_account_type')}"
							th:errors="*{p_account_type}">
						</span>
					</div>
				</div>
						
							
				 <div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="date-picker">Date to:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-3 date-picker" required="required"
										id="date-picker-2" th:field="*{posting_date}"
										data-date-format="yyyy-mm-dd" /> <span class="text-danger"
										th:if="${#fields.hasErrors('posting_date')}" th:errors="posting_date"></span>

								</div>
							</div>
				</div> 
				
				<div class="form-group">
					<label for="p_account_no" class="col-sm-3 control-label no-padding-right">Posting Account:</label>
					<div class="col-sm-9">
						<input id="p_account_no_search"  name="p_account_no_search" class="col-xs-10 col-sm-7" style="margin-bottom:0px;" onkeyup="filter()" onblur="selectAccount()" />
						<button class="p_cust_search" hidden="hidden">searcn</button> 
						<br />
						<select th:field="*{p_account_no}" size="" class="col-xs-10 col-sm-7" style="margin-top:0px;"  required="required">
							
							<!-- <option th:each="generalLedger: ${generalLedgers}" 
							th:value = "${generalLedger.account_no}" 
							th:text="|${generalLedger.account_no}-${generalLedger.name}|">Posting Account</option> -->
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('p_account_no')}"
							th:errors="*{p_account_no}">
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="p_branch_id" class="col-sm-3 control-label no-padding-right">Branch:</label>
					<div class="col-sm-9">
						<select th:field="*{p_branch_id}" class="col-xs-10 col-sm-7"  required="required">
							<option value="">Select..</option>
								<option th:each="branch : ${branches}" 
							th:value = "${branch.Id}" 
							th:text="${branch.name}">Receiving Branch</option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('p_branch_id')}"
							th:errors="*{p_branch_id}">
						</span>
					</div>
				</div>
				
				<!-- 
				<div class="form-group">
					<label for="ref_no1" class="col-sm-3 control-label no-padding-right">Ref No:</label>
					<div class="col-sm-9">
						<input type="text" class="col-xs-12 col-sm-12" placeholder="Ref No:"
							th:field="*{ref_no1}" required="required" /> <span
							class="text-danger" th:if="${#fields.hasErrors('ref_no1')}"
							th:errors="*{ref_no1}"></span>
					</div>
				</div>
				<div class="form-group">
					<label for="p_branch_bal" class="col-sm-3 control-label no-padding-right">Balance:</label>
					<div class="col-sm-9">
						<input type="text" class="col-xs-10 col-sm-7" 
							th:field="*{p_branch_bal}" readonly="readonly" /> <span
							class="text-danger" th:if="${#fields.hasErrors('p_branch_bal')}"
							th:errors="*{p_branch_bal}"></span>
					</div>
				</div>
			 </div> -->
		</div>
		
		
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-5 " style="">
					<div class="form-group">
						<label for="ref_no1" class="col-sm-4 control-label  no-t no-padding-right">Ref No:</label>
						<div class="col-sm-8">
							<input type="text" class="col-xs-12 col-sm-12" placeholder="Ref No:"
								th:field="*{ref_no1}" required="required" /> <span
								class="text-danger" th:if="${#fields.hasErrors('ref_no1')}"
								th:errors="*{ref_no1}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
	    			<div class="form-group">
						<label for="p_branch_bal" class="col-sm-4 control-label no-padding-right  no-padding-left">Balance:</label>
						<div class="col-sm-8">
							<input type="text" class="col-xs-12 col-sm-12" 
								th:field="*{p_branch_bal}" readonly="readonly" /> <span
								class="text-danger" th:if="${#fields.hasErrors('p_branch_bal')}"
								th:errors="*{p_branch_bal}"></span>
						</div>
					</div>
				</div>
				<div class="col-md-5 ">
	    			<div class="form-group">
						<label for="p_post_code" class="col-sm-5 control-label no-padding-right">Post Code:</label>
						<div class="col-sm-7">
							<select th:field="*{p_post_code}" class="col-xs-12 col-sm-12"  required="required" id="p_post_code">
								<option value="">Select..</option>
									<option th:each="postCode: ${postCodes}" 
								th:value = "${postCode.code}" 
								th:text="${postCode.description}">Post Code</option>
							</select>
							<span class="text-danger" th:if="${#fields.hasErrors('p_post_code')}"
								th:errors="*{p_post_code}">
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
	    			<div class="form-group">
						<label for="amount" class="col-sm-4 control-label no-padding-right">Amount:</label>
						<div class="col-sm-8">
							<input type="text" class="col-xs-12 col-sm-12" 
								th:field="*{amount}"
								oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
							/> <span
								class="text-danger" th:if="${#fields.hasErrors('amount')}"
								th:errors="*{amount}"></span>
						</div>
					</div>
				</div>
				
				<div class="col-md-12">
					<div class="form-group">
						<label for="p_description" class="col-sm-3 control-label no-padding-right">Description:</label>
						<div class="col-sm-9">
						
							<textarea class="col-xs-10 col-sm-7" 
								th:field="*{p_description}"
								th:value="${p_description}"
								onblur="setDesc()"  rows="4" style="width:220px">
							
							</textarea>
							<span
								class="text-danger" th:if="${#fields.hasErrors('p_description')}"
								th:errors="*{p_description}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row" style="border-top: 3px double #E5E5E5;margin-bottom: 10px;"></div> 
		
		
		<!-- RECEIVING BRANCH -->
		<div class="">
			<div class="col-md-5 col-md-offset-1">
				<div class="form-group">
					<label for="r_account_type" class="col-sm-3 control-label no-padding-right">Account Type:</label>
					<div class="col-sm-9">
						<select th:field="*{r_account_type}" size="" class="col-xs-10 col-sm-7" style="margin-top:0px;"  required="required">
							<option value="">Select account type</option>
							<option th:value="GL">GL</option>
							<option th:value="CL">Customer</option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('r_account_type')}"
							th:errors="*{r_account_type}">
						</span>
					</div>
				</div>
				 
				<div class="form-group">
					<label for="r_account_no" class="col-sm-3 control-label no-padding-right">Account:</label>
					<div class="col-sm-9">
					<input id="r_account_no_search"  name="r_account_no_search" class="col-xs-10 col-sm-7" style="margin-bottom:0px;" onkeyup="filterR()" onblur="selectAccountR()" /> 
					<button class="r_cust_search" hidden="hidden">searcn</button> 
						<br />
						
						<select th:field="*{r_account_no}" size="" style="margin-top:0px;" class="col-xs-10 col-sm-7"  required="required">
							
								<!-- <option th:each="generalLedger: ${generalLedgers}" 
							th:value = "${generalLedger.account_no}" 
							th:text="|${generalLedger.account_no}-${generalLedger.name} |">Account</option> -->
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('r_account_no')}"
							th:errors="*{r_account_no}">
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="r_branch_bal" class="col-sm-3 control-label no-padding-right">Balance:</label>
					<div class="col-sm-9">
						<input type="text" class="col-xs-10 col-sm-7" 
							th:field="*{r_branch_bal}" readonly="readonly" /> <span
							class="text-danger" th:if="${#fields.hasErrors('r_branch_bal')}"
							th:errors="*{r_branch_bal}"></span>
					</div>
				</div>
				
				
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">	
				<div class="form-group">
					<label for="r_branch_id" class="col-sm-3 control-label no-padding-right">Branch:</label>
					<div class="col-sm-9">
						<select th:field="*{r_branch_id}" class="col-xs-10 col-sm-7"  required="required">
							<option value="">Select..</option>
								<option th:each="branch : ${branches}" 
							th:value = "${branch.Id}" 
							th:text="${branch.name}">Receiving Branch</option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('r_branch_id')}"
							th:errors="*{r_branch_id}">
						</span>
					</div>
				</div>			
				
				<div class="col-md-5 ">
	    			<div class="form-group">
						<label for="r_post_code" class="col-sm-5 control-label no-padding-right">Post Code:</label>
						<div class="col-sm-7">
							<select th:field="*{r_post_code}" class="col-xs-12 col-sm-12"  required="required" id="r_post_code">
								<option value="">Select..</option>
									<option th:each="postCode: ${postCodes}" 
								th:value = "${postCode.code}" 
								th:text="${postCode.description}">Post Code</option>
							</select>
							<span class="text-danger" th:if="${#fields.hasErrors('r_post_code')}"
								th:errors="*{r_post_code}">
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
	    			<div class="form-group">
						<label for="r_amount" class="col-sm-4 control-label no-padding-right">Amount:</label>
						<div class="col-sm-8">
							<input type="text" class="col-xs-12 col-sm-12" 
								th:field="*{amount}"
							/> <span
								class="text-danger" th:if="${#fields.hasErrors('r_amount')}"
								th:errors="*{r_amount}"></span>
						</div>
					</div>
				</div>
				
				<!-- 
				<div class="form-group">
					<label for="r_post_code" class="col-sm-3 control-label no-padding-right">Post Code:</label>
					<div class="col-sm-9">
						<select th:field="*{r_post_code}" class="col-xs-10 col-sm-7" readonly="readonly" required="required" id="r_post_code">
							<option value="">Select..</option>
								<option th:each="postCode: ${postCodes}" 
							th:value = "${postCode.code}" 
							th:text="${postCode.description}">Post Code</option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('r_post_code')}"
							th:errors="*{r_post_code}">
						</span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="r_amount" class="col-sm-3 control-label no-padding-right">Amount:</label>
					<div class="col-sm-9">
						<input type="text" class="col-xs-10 col-sm-7" 
							th:field="*{r_amount}"
							th:value="${amount}"
							readonly="readonly" /> <span
							class="text-danger" th:if="${#fields.hasErrors('r_amount')}"
							th:errors="*{r_amount}"></span>
					</div>
				</div> -->
				
				<div class="form-group">
					<label for="r_description" class="col-sm-3 control-label no-padding-right">Description:</label>
					<div class="col-sm-9">
					
						<textarea class="col-xs-10 col-sm-5" 
							th:field="*{r_description}"
							th:value="${r_description}" rows="4" style="width:220px">
						
						</textarea>
						<span
							class="text-danger" th:if="${#fields.hasErrors('r_description')}"
							th:errors="*{r_description}"></span>
					</div>
				</div>
			</div>
		</div>
		
		<input type="hidden" id="generalLedgerss" value="${generalLedgerss}" /> 
		
		<div class="clearfix">
			<div class="col-md-offset-4 col-md-6">
				<button class="btn btn-primary" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i> Add
				</button>

				<button class="btn btn-danger" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i> Reset
				</button>
			</div>
		</div>
	</form>
</div>

<script th:src="@{/resources/assets/js/custom-posting.js}"></script>
<!-- <script type="text/javascript">

</script> -->