<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="table-header">List of Entries </div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Account Number</th>
					<th>Amount</th>
					<th>Post Code</th><!-- 
					<th>Branch ID</th> -->
					<th>Batch No</th>
					<th>Ref No</th>
					<th>Description</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="custEntry : ${custEntries}">
					<td th:text="${custEntry.accountNo}">Account Number</td>
					<td th:text="${custEntry.amount}">Amount</td>
					<td th:text="${custEntry.postCode}">Post Code</td><!-- 
					<td th:text="${custEntry.organisation_id}">Branch ID</td> -->
					<td th:text="${custEntry.batchNo}">Batch No</td>
					<td th:text="${custEntry.refNo2}">Ref No</td>
					<td th:text="${custEntry.description}">Description</td>
					
						
					<td>
						
						<span th:if="${custEntry.refNo2 != 'REVERSED' and custEntry.refNo2  != 'REVERSAL'}">
							<a class="btn btn-xs btn-danger tooltips reverse" 
								title="Reverse Entry"   th:id="${custEntry.batchNo}" 
								href="#"> <i
									class="fa fa-reply"></i>
							</a>
						</span>
					</td>
				</tr>
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

	$(".reverse").click(function(){
		var batchNo = this.id;
		
		$.ajax({
			type : "GET",
			url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/customer_acc/reversal/'	+ batchNo,
			success : function(value) {
				//if value is true, then you can't delete 
			}
		});
	});


/*]]>*/
</script>