<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<form role="form" class="form-horizontal" method="post" style="margin-top:20px;">
			<div class="form-group">
				
				<label for="product_type" class="col-sm-1 control-label no-padding">Product Type:</label>
				<div class="col-sm-2">
					<select id="product_type" name="product_type" size="" class="col-xs-12 col-sm-12" style="margin-top:0px;"  required="required">
							<option value="">Select account type</option>
							<option value="CA">Customer</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label for="account_no" style="padding-right:10px;">Account No:</label>
					<input id="account_no"  name="account_no"  style="margin-bottom:0px;"   />
				</div>
				<div class="col-sm-5">
					<label for="startDate" style="padding-right: 10px;">From:</label>
					<input id="startDate"  name="startDate"  style="margin-bottom:0px;" placeholder="yyyy-MM-dd" />
					<label for="endDate" style="padding: 0px 10px;">To:</label>
					<input id="endDate"  name="endDate" style="margin-bottom:0px;" placeholder="yyyy-MM-dd" />
				</div>
				
				<button type="submit" class="btn btn-xs btn-primary">Searcn</button>	
			</div>
		</form>
		<div class="table-header">List of Entries </div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Account Number</th>
					<th>Amount</th>
					<th>Post Code</th><!-- 
					<th>Branch ID</th> -->
					<th>Batch No</th>
					<th>Ref No</th>
					<th>Description</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="custEntry : ${custEntries}">
					<td th:text="${custEntry.account_no}">Account Number</td>
					<td th:text="${custEntry.amount}">Amount</td>
					<td th:text="${custEntry.post_code}">Post Code</td><!-- 
					<td th:text="${custEntry.organisation_id}">Branch ID</td> -->
					<td th:text="${custEntry.batchNo}">Batch No</td>
					<td th:text="${custEntry.refNo2}">Ref No</td>
					<td th:text="${custEntry.description}">Description</td>
					
						
					<td>
						
						<span th:if="${custEntry.refNo2 != 'REVERSED' and custEntry.refNo2  != 'REVERSAL'}">
							<a class="btn btn-xs btn-danger tooltips reverse" 
								title="Reverse Entry"   th:id="${custEntry.batchNo}" 
								href="#"> <i
									class="fa fa-reply"></i>
							</a>
						</span>
					</td>
				</tr>
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

	/* $(".search").click(function(){
		alert('now now');
		var account_no = $('#account_no').val();
		var startDate = $('#startDate').val();
		var endDate = $('#endDate').val();
		var sel_product_type = $('#product_type option:selected');
		var prod_type = sel_product_type[0].value;

		if(account_no == "" || startDate == "" || endDate == ""){
			alert('you must select');
		} else {
			$.ajax({
				type : "GET",
				url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/customer_acc/listings/' + prod_type + '/'+ account_no + '/' + startDate + '/'	+ endDate,
				success : function(value) {
					$('#tbody').html(value);
				}
			});
		 }
	}); */
	
	$(".reverse").click(function(){
		var batchNo = this.id;
		
		$.ajax({
			type : "GET",
			url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/customer_acc/reversal/'	+ batchNo,
			success : function(value) {
				//if value is true, then you can't delete 
			}
		});
	});


/*]]>*/
</script>