<div class="page-header">
	<h1>
		Add New Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/ledger_acc/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/ledger_acc/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div>
	<form role="form" class="form-horizontal" method="POST"
			th:object="${account}">
			
		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Totaling Account:</label>
			<div class="col-sm-9">
				<select th:field="*{totaling_code}" class="col-xs-10 col-sm-5"  required="required">
					<option value="">Select..</option>
						<option th:each="totalingAccount: ${totalingAccounts}" 
					th:value = "${totalingAccount.code}" 
					th:text="${totalingAccount.ledger_type.id} + '-' + ${totalingAccount.code} + '-' + ${totalingAccount.name}">Totaling Code</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('totaling_code')}"
					th:errors="*{totaling_code}">
				</span>
			</div>
		</div>
			
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label no-padding-right">Code:</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" placeholder="code"
					th:field="*{code}" required="required" /> <span
					class="text-danger" th:if="${#fields.hasErrors('code')}"
					th:errors="*{code}"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label no-padding-right">Name:</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" placeholder="Name"
					th:field="*{name}" required="required" /> <span
					class="text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Balance Sheet Category:</label>
			<div class="col-sm-9">
				<select th:field="*{bal_sheet_cat_id}" class="col-xs-10 col-sm-5"  required="required" id="bal_sheet_cat_id">
					<option value="">Select..</option>
						<option th:each="balSheetCat: ${balSheetCats}" 
					th:value = "${balSheetCat.id}" 
					th:text="${balSheetCat.name}">Balance Sheet Category</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('bal_sheet_cat_id')}"
					th:errors="*{bal_sheet_cat_id}">
				</span>
			</div>
		</div>
		
		<div class="form-group">
			<label for="account_no" class="col-sm-3 control-label no-padding-right">Account Number:</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" placeholder="Account Number"
					th:field="*{account_no}" readonly="readonly" /> <span
					class="text-danger" th:if="${#fields.hasErrors('account_no')}"
					th:errors="*{account_no}"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label no-padding-right">Active Status:</label>
			<div class="col-sm-9">
				<select th:field="*{is_active}" class="col-xs-10 col-sm-5"  required="required" id="is_active">
					<option value="">Select..</option>
					<option value="0">Inactive</option>
					<option value="1">Active</option>
				</select>
				<span class="text-danger" th:if="${#fields.hasErrors('is_active')}"
					th:errors="*{is_active}">
				</span>
			</div>
		</div>
		
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-primary" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i> Add
				</button>

				<button class="btn btn-danger" type="reset">
					<i class="ace-icon fa fa-undo bigger-110"></i> Reset
				</button>
			</div>
		</div>
	</form>
</div>

<script>
		/* Form Account Number*/
		$('#totaling_code').change(function(){
			var selElement = $(this);
			var optValue = selElement[0].selectedOptions[0].innerText;
		
			var code = $('#code')[0].value;
			var splitOption = optValue.split("-");
			var account_no = splitOption[0] + "-" + splitOption[1] + "-" + code;
			$('#account_no')[0].value = account_no;
			});
		

	$('#code').blur(function(){
		var code = this.value;
		
		var optValue = $('#totaling_code')[0].selectedOptions[0].innerText;
		
		var splitOption = optValue.split("-");	
		var account_no = splitOption[0] + "-" + splitOption[1] + "-" + code;
		 
		$('#account_no')[0].value = account_no;
	});
	
</script>