<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/ledger_acc/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/ledger_acc/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="table-header">List of Accounts</div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Account Number</th>
					<th>Totaling Code</th>
					<th>Name</th>
					<th>Active</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="account : ${accounts}">
					<td th:text="${account.accountNo}">Account Number</td>
					<td th:text="${account.totalingCode}">Code</td>
					<td th:text="${account.name}">Name</td>
					<td>
					    <span th:if="${account.isActive}">Active</span>
					    <span th:if="${!account.isActive}">Inactive</span>
					</td>
						
					<td>
						<a class="btn btn-xs btn-primary tooltips"
							title="view category details" 		th:href="@{/ledger/ledger_acc/view/{id} (id=${account.id}) }"> <i
								class="fa fa-eye"></i>
						</a> 
						  <a class="btn btn-xs btn-danger tooltips deleteBtn" 
							title="Delete Item details"   th:id="${account.id}" 
							href="#"> <i
								class="fa fa-trash-o"></i>
						</a>
						<a class="btn btn-xs btn-warning tooltips"
							title="Print GL report"
							th:href="@{/ledger/reports/GL/{id}(id=${account.accountNo}) }"> <i
								class="fa fa-edit"></i>
						</a>
					</td>
				</tr>
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>


<script type="text/javascript">
/*<![CDATA[*/
$(".deleteBtn").click( function (){
	var id = this.id;
	var status = null;
	$.ajax({
		type : "GET",
		url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/status/'	+ id,
		async: false,
		success : function(value) {
			//if value is true, then you can't delete 
			status = value;
		}
	});
	
	if(status == "true"){
		alert("cannot delete ledger, it has a balance already");
		/* $.gritter.add({
			title : "Invalid Action!",
			text : "cannot delete ledger, it has a balance already",
			time : 4000
		});  */
	} else {
		onDelete(id);
	}
	
});

function onDelete(id) {
	$.ajax({
		type : "GET",
		url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/ledger_acc/delete/'	+ id,
		beforeSend : function() {
			 /* $.gritter.add({
				title : "Progress...",
				text : "Deleting ledger...",
				time : 3000
			});  */
		},
		success : function() {
			 /* $.gritter.add({
				title : "Success!",
				text : "Ledger deleted",
				time : 4000
			});  */
		},
		error : function() {
			/* $.gritter.add({
				title : "Error!",
				text : "Error deleting ledger",
				time : 4000
			}); */

		}
	});
}
/*]]>*/
</script>