<div class="page-header">
	<h1>
		Choose Unit to Work<small> <i
			class="ace-icon fa fa-angle-double-right"></i>
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard</a> 
			<!-- <a
			class="btn btn-danger btn-xs" th:href="@{/patients/index/all}"><i
			class="fa fa-list-alt"></i> Create Visit</a> -->
	</div>
</div>
<div class="hr hr-18 dotted hr-double"></div>
		


<div class="row">
	<div class="col-xs-12">
		<!-- View contents here -->
	
				<form th:object="${choose}" th:action="@{/visits/myqueue}" class="form-horizontal" method="post">
				
					
					
					
					
					<div class="form-group">
				<label class="control-label col-xs-12 col-sm-3 no-padding-right">Select Unit:</label>
						<div class="col-xs-12 col-sm-9">
						<div class="clearfix">
							<select class="col-xs-10 col-sm-5"  
								th:field="*{unitId}" required="true" >
								 <option value="">Select..</option>
								<option th:each="u: ${clockin}" th:value="${u.hrunit.categoryId}"
									th:text="${u.hrunit.categoryName}"></option>
							</select> <span class="text-danger"
								th:if="${#fields.hasErrors('unitId')}"
								th:errors="*{unitId}"></span>
								</div>
						</div>
					</div>
					<!-- User Input -->



<div class="hr hr-18 dotted hr-double"></div>
		

<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
			
					<button class="btn btn-primary" type="submit">
						<i class="ace-icon fa fa-check bigger-110"></i> Choose
					</button>

					<button class="btn btn-danger" type="reset">
						<i class="ace-icon fa fa-undo bigger-110"></i> Reset
					</button>
				</div>
			</div>
		</form>
			<div class="hr hr-18 dotted hr-double"></div>
	
				<!-- /Dform -->
			</div>
			
		</div>
					
		<!-- /. End view content here -->
	
