<div class="page-header">
	<h1>
		Posting
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div>
	<form role="form" class="form-horizontal" style="margin-top:20px;">
		<div class="form-group container">
		    <label for="journal_desc">Journal Description</label>
		    <input type="text" id="journal_desc" />
		</div>
		<button type="button" class="btn btn-primary add">New Entry</button>
		 <div class="form-group container journal">
		    <select id="account_type">
		        <option value="">Select..</option>
		        <option value="CA">Customer</option>
		    </select>
		    <input type="text" id="account_no" placeholder="account no" />
		    <select id="post_code">
		        <option value="">Select..</option>
		        <option value="DR">GL Debit</option>
		        <option value="CR">GL Credit</option>
		    </select>
		    <select id="branch_id">
		        <option value="1">Select..</option>
		    </select>
		    <input type="text" id="amount"  placeholder="amount" />
		    <input type="text" id="ref_no"  placeholder="ref no" />
		    <input type="text" id="desc"  placeholder="description" />	
		    <button type="button" class="btn btn-xs btn-default delete"><i class="fa fa-trash-o"></i></button>		    	
		</div>
	</form>
	
	<button class="btn btn-success post">Post Entries</button>
</div>

<script type="text/javascript">
/*<![CDATA[*/
           
     $('.add').click(function(){
    	 div = document.createElement('div');
    	 markup = '<select id="account_type"><option value="">Select..</option><option value="CA">Customer</option></select><input type="text" id="account_no" placeholder="account no" /><select id="post_code"><option value="">Select..</option><option value="DR">GL Debit</option><option value="CR">GL Credit</option></select><select id="branch_id"><option value="1">Select..</option></select><input type="text" id="amount"  placeholder="amount" /><input type="text" id="ref_no"  placeholder="ref no" /><input type="text" id="desc"  placeholder="description" /><button type="button" class="btn btn-xs btn-default delete"><i class="fa fa-trash-o"></i></button>';
    	 $(div).addClass("form-group container journal").html(markup);
    	 $('form').append(div);
     });
     
     
     $(document.body).on("click", ".delete", function(){
    	 $(this).parent().remove();
     });
     
     $('.post').click(function(){
    	 

    	 var journalEntries = [];
    	 $('.journal').each(function(){
    		 var entry = {
    			"account_type": $(this).find('#account_type option:selected')[0].value,
    			"account_no": $(this).find('#account_no')[0].value,
    			"post_code": $(this).find('#post_code option:selected')[0].value,
    			"branch_id": $(this).find('#branch_id option:selected')[0].value,
    			"amount": $(this).find('#amount')[0].value,
    			"ref_no": $(this).find('#ref_no')[0].value,
    			"desc": $(this).find('#desc')[0].value
    		 }
    		 
    		 journalEntries.push(entry);
    	 });
    	 
    	 journal = {
    		"journalDesc": $('#journal_desc')[0].value,
    		"journalEntries": journalEntries
    	 }
 		
 		 
		$.ajax({
			type: "POST",
			contentType: "application/json",
			'processData': false,
			url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/journal/add',
			beforeSend : function() {
				$.gritter.add({
				title : "Progress...",
				text : "Saving Journal Entry...",
				time : 3000
				}); 
			},
			data: JSON.stringify(journal),
			dataType: "json",
			
			success: function(response, data){
			     alert("yuppie");
			     window.location = '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/journal/index';
			      
			}
		});
     });
		
/*]]>*/
</script>