<div class="page-header">
	<h1>
		Posting
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div>
	<button class="btn btn-primary add">New Entry</button>
	<form role="form" class="form-horizontal" method="POST" style="margin-top:20px;">
		 <div class="form-group journal">
			<div class="container kolade">
			    <div class="my-row">
				    <label class="" for="account_type" >Account type:</label>
				    <select id="account_type">
				        <option value=""></option>
				        <option value="CA">Customer</option>
				    </select>
				    <label class="" for="account_no" >Account No</label>
				    <input type="text" id="account_no" />
				    <label class="" for="post_code" >Post code</label>
				    <select id="post_code">
				        <option value="DR">GL Debit</option>
				        <option value="CR">GL Credit</option>
				    </select>
				    <label class="" for="branch_id" >Branch ID</label>
				    <select id="branch_id">
				        <option value="">Select..</option>
				    </select>
				    
				    <a class="btn btn-xs btn-default delete"><i class="fa fa-trash-o"></i></a>
					
				</div>
				<div class="kolade2">
				    
				    
				    <label for="amount">Amount</label>
				    <input type="text" id="amount" />
				    <label for="ref_no">Ref No</label>
				    <input type="text" id="ref_no" />
				    <label for="desc">Desc</label>
				    <textarea cols="30" rows="5" id="desc"></textarea>
								
				</div>
			</div>
		</div>
	</form>
	
	<button class="btn btn-success post">Post Entries</button>
</div>

<script type="text/javascript">
/*<![CDATA[*/
           
     $('.add').click(function(){
    	 div = document.createElement('div');
    	 markup = '<div class="container kolade"><div class="my-row"><label class="" for="account_type" >Account type:</label><select id="account_type"><option value=""></option><option value="CA">Customer</option></select><label class="" for="account_no" >Account No</label><input type="text" id="account_no" /><label class="" for="post_code" >Post code</label><select id="post_code"><option value="DR">GL Debit</option><option value="CR">GL Credit</option></select><label class="" for="branch_id" >Branch ID</label><select id="branch_id"><option value="">Select..</option></select><a class="btn btn-xs btn-default delete"><i class="fa fa-trash-o"></i></a></div><div class="kolade2"><label for="amount">Amount</label><input type="text" id="amount" /><label for="ref_no">Ref No</label><input type="text" id="ref_no" /><label for="desc">Desc</label><textarea cols="30" rows="5" id="desc"></textarea></div></div>';
         $(div).addClass("form-group journal").html(markup);
    	 $('form').append(div);
     });
     
     
     $(document.body).on("click", ".delete", function(){
    	 $(this).parent().parent().parent().remove();
     });
     
     $('.post').click(function(){
    	 var journalEntries = {};
    	  //var entries = [];
    	 journalEntries.entries = []; 
    	 /*var jsonData = {};*/
    	 $('.kolade').each(function(){
    		 /*jsonData[columnName] = column.value;
    		 */
    		 console.log($(this).find('#account_type option:selected').value);
    		 console.log($(this).find('#account_type option:selected')[0].value);
    		 var entry = {
    			"account_type": $(this).find('#account_type option:selected').value,
    			"account_no": $(this).find('#account_no').value,
    			"post_code": $(this).find('#post_code option:selected').value,
    			"branch_id": $(this).find('#branch_id option:selected').value,
    			"amount": $(this).find('#amount').value,
    			"ref_no": $(this).find('#ref_no').value,
    			"desc": $(this).find('#desc').value,
    			"nitel": 'lslssl'
    		 }
    		 
    		 journalEntries.entries.push(entry);
    	 });
    	 
    	console.log(journalEntries);
 		/*
 		 
 		 $.ajax({
       type: "POST",
       contentType: "application/json",
       url: '/Hello',
        data: JSON.stringify({ Name: playersShip.name, Credits: playersShip.credits }),
       dataType: "json"
    });
    
    
    
 		 */
     });
		
/*]]>*/
</script>