<th:block xmlns:th="http://www.thymeleaf.org">
<div class="page-header">
	<h1>
		Posting
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>


<div>
	<form role="form" method="POST" class="form-horizontal" style="margin-top:20px;" th:object="${journalHeader}">
		<div class="form-group">
		    <label for="description" class="col-sm-3 control-label no-padding-right">Journal Description: </label>
		    <div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" placeholder="description"
					th:field="*{description}" required="required" /> <span
					class="text-danger" th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}"></span>
			</div>   	
		</div>
		<div class="clearfix form-actions">
			<div class="col-md-offset-3 col-md-9">
				<button class="btn btn-primary" type="submit">
					<i class="ace-icon fa fa-check bigger-110"></i> Add Header
				</button>
			</div>
		</div>
	</form>
	
</div>

<script type="text/javascript">
/*<![CDATA[*/
   
/*]]>*/
</script>
</th:block>