<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="table-header">List of Entries </div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			 <thead>
				<tr>
					<th>Posting Acc Type</th>
					<th>Posting Acc No</th>
					<th>P Post Code</th>
					<th>P Branch ID</th>
					<th>Amount</th>
					<th>Ref No</th>
					<th>Rec Acc Type</th>
					<th>R Acc No</th>
					<th>R Branch ID</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>

			<!-- Table body -->
			<tbody>
				<tr th:each="journalEntry : ${journalEntries}">
					<td th:text="${journalEntry.p_account_type}">P Account Type</td>
					<td th:text="${journalEntry.p_account_no}">P Account Number</td>
					<td th:text="${journalEntry.p_post_code}">P Post Code</td>
					<td th:text="${journalEntry.p_branch_id}">P Branch ID</td>
					<td th:text="${journalEntry.amount}">Amount</td>
					<td th:text="${journalEntry.ref_no}">Ref No</td>
					<td th:text="${journalEntry.r_account_type}">R Account Type</td>
					<td th:text="${journalEntry.r_account_no}">R Account Number</td>
					<td th:text="${journalEntry.r_post_code}">R Post Code</td>
					<td th:text="${journalEntry.r_branch_id}">R Branch ID</td>
					
						
					<td>
						
						<!-- <span th:if="${journalEntry.ref_no2 != 'REVERSED' and journalEntry.ref_no2  != 'REVERSAL' and journalEntry.product_id == null}">
						 -->	
						 <a class="btn btn-xs btn-danger tooltips" 
								title="Reverse Entry"   th:id="${journalEntry.id}" 
								href="#"> <i
									class="fa fa-reply"></i>
							</a>
						<!-- </span> -->
					</td>
				</tr>
			</tbody>
			<!--  Table body END -->
		</table>
		<!-- End view content here -->
		
		<!-- <form>
		Put a table in this form with the a single row and the column as the form fields
		</form> -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

	$(".reverse").click(function(){
		var batch_no = this.id;
		
		$.ajax({
			type : "GET",
			url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/reversal/'	+ batch_no,
			success : function(value) {
				//if value is true, then you can't delete 
			}
		});
	});


/*]]>*/
</script>