<div class="page-header">
	<h1>
		All Account
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/gen_ledger/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/gen_ledger/create}">
			<i class="fa fa-plus-circle"></i> Add Account 
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div class="hr hr-18 dotted hr-double"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="table-header">List of Entries </div>
		
		<form th:action="@{/ledger/gen_ledger/journal/add}"  method="POST">
			<table id="dTable"
				class="table table-striped table-bordered table-hover">
				<!-- Table heading -->
				 <thead>
					<tr>
						<th>Account Type</th>
						<th>Account No</th>
						<th>Post Code</th>
						<th>Branch ID</th>
						<th>Amount</th>
						<th>Ref No</th>
						<th>Desc</th>
						
						<th><i class="glyphicon glyphicon-asterisk"></i></th>
					</tr>
				</thead>
	
				<!-- Table body -->
				<tbody>
					<tr th:each="journalEntry : ${journalEntries}">
						<td th:text="${journalEntry.account_type}">Account Type</td>
						<td th:text="${journalEntry.account_no}">Account Number</td>
						<td th:text="${journalEntry.post_code}">Post Code</td>
						<td th:text="${journalEntry.branch_id}">Branch ID</td>
						<td th:text="${journalEntry.amount}">Amount</td>
						<td th:text="${journalEntry.ref_no}">Ref No</td>
						<td th:text="${journalEntry.description}">Description</td>
						
							
						<td>
							
							<!-- <span th:if="${journalEntry.ref_no2 != 'REVERSED' and journalEntry.ref_no2  != 'REVERSAL' and journalEntry.product_id == null}">
							 -->	
							 <a class="btn btn-xs btn-danger tooltips" 
									title="Reverse Entry"   th:id="${journalEntry.id}" 
									href="#"> <i
										class="fa fa-thrash"></i>
								</a>
							<!-- </span> -->
						</td>
					</tr>
					<!-- 
					<tr>
						
							<td >
								<select>
									<option value=""></option>
									<option value="CA">Customer</option>
								</select>
							</td>
							<td ><input type="text}"/></td>
							<td >
								<select>
									<option value="DR">GL Debit</option>
									<option value="CR">GL Credit</option>
								</select>
							</td>
							<td ><select>
									<option value="DR">GL Debit</option>
									<option value="CR">GL Credit</option>
								</select></td>
							<td ><input type="text}"/></td>
							<td ><input type="text}"/></td>
							<td ><input type="text}"/></td>
							<td> <input type="submit" value="add" class="}"/></td>
					</tr>
					 -->
					
				</tbody>
				<!--  Table body END -->
			</table>
		</form>
		<!-- End view content here -->
		
		<!-- <form>
		Put a table in this form with the a single row and the column as the form fields
		</form> -->
	</div>
</div>

<script type="text/javascript">
/*<![CDATA[*/

	/* $(".reverse").click(function(){
		var batch_no = this.id;
		
		$.ajax({
			type : "GET",
			url : '/../'+ window.location.pathname.split('/')[1] + '/ledger/gen_ledger/reversal/'	+ batch_no,
			success : function(value) {
				//if value is true, then you can't delete 
			}
		});
	});
 */
 
 $(document).ready(function(){
	 
	 //do an api call to return a markup of the branches 
	 var markup= '<tr><td ><select th:field="*{account_type}"><option value=""></option><option value="CA">Customer</option></select></td><td ><input type="text"  th:field="*{account_no}"/></td><td ><select th:field="*{post_code}"><option value="DR">GL Debit</option><option value="CR">GL Credit</option></select></td><td ><select th:field="*{branch_id}"><option value="">Select..</option> <option th:each="branch : ${branches}" th:value = "${branch.Id}" th:text="${branch.name}">Branch</option></select></td><td ><input type="text"  th:field="*{amount}"/></td><td ><input type="text"  th:field="*{ref_no}"/></td><td ><input type="text"  th:field="*{description}"/></td><td> <input type="submit" value="add" class="btn btn-success btn-xs"/></td></tr>';
 
	 $('#dTable tr:last').after(markup);
 });
 
 
/*]]>*/
</script>