<style>
<!--
#browserother {
	display: none;
}

#showEmail {
	display: none;
}

#showPhone {
	display: none;
}
-->
</style>

<div class="page-header">
	<h1>
		INVENTORY OFFICE MANAGEMENT - <span th:text= "${@userIdentity.getCurrentUnit()?.getCategoryName()}"> </span><small> <i
			class="ace-icon fa fa-angle-double-right"></i> STOCK ADJUST BALANCE
			MODULE 
		</small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/system}"><i
			class="fa fa-home"></i> System Dashboard </a> 
			<!-- <a
			class="btn btn-xs btn-primary"
			th:href="@{/inventory/stock_opening_balance/new/}"><i
			class="fa fa-plus-circle"></i> Create New Stock Opening Balance </a>
			 -->
			
	</div>
</div>

<div class="row">
	<div class="form-group">
	</div>
	<form role="form" class="form-horizontal" method="POST"  th:action="@{/inventory/stock_opening_balance/index/all}"  onsubmit="return myglobalitem()"
		  th:object="${globalSearch}" >
			<!-- <legend>Patient Search Form</legend> -->
		
			<div class="form-group"  style="margin-left:18px">
							<label for="detail"
								class="col-sm-3 control-label no-padding-right">Global Item:
								</label>
							<div class="col-sm-8">
							
							<input type="text" class="col-xs-10 col-sm-5"   th:field="*{globalitemname}"
									  id="globalitemname"   required="required" disabled="disabled" />  
									  
								<input type="text" class="col-xs-5 col-sm-5"   
									th:field="*{globalitemId}"   th:id="globalitemId" onclick="myFunction()"  hidden="hidden"/>  
							 <!-- hidden="hidden" -->
			<a	class="btn btn-xs btn-success" onclick ="myOpenGlobalitemwin()"> <i	class="glyphicon glyphicon-list"></i> Search</a>
								
								<!--  </div>   -->	
								 <span class="text-danger"
									th:if="${#fields.hasErrors('globalitemId')}" th:errors="globalitemId"></span>

							</div> 
						</div>
			
			
			
			
			
			<div class="clearfix form-actions" style="margin-left:18px">
				<div class="col-md-12 col-md-offset-5">
				
				
				<button class="btn btn-primary" id="submit" type="submit">
											<i class="ace-icon fa fa-check bigger-110"></i> Opening Balance/Adjust
										</button>
					
				<button class="btn btn-primary" id="button" type="button" >
											<i class="ace-icon fa fa-check bigger-110"></i> Reset
										</button>
						<!-- 				
				<button class="btn btn-primary" id="blank" type="button" onclick ="myOpenwin()" >
											<i class="ace-icon fa fa-check bigger-110"></i> blank window
										</button>
							-->				
										
			</div>
			</div>
			
	</form>
	</div>

<p></p>

<div class="row">
	<div class="col-xs-12">
		<div class="table-header">Result for Adjust Balances</div>
		<table id="dTable"
			class="table table-striped table-bordered table-hover">
			<!-- Table heading -->
			<thead>
				<tr>
					<th>Unit Of Measure:</th>
					<th>Action:</th>
					<th>Description:</th>
					
					
					<th>Quantity:</th>
					  <!--   <th>Reorder Level:</th> -->
					<th>Date Added:</th>
              
					
					<th>Batch No:</th>
					
					<th>Manufact. Date:</th>
					<th>Expiry Date:</th>
					<th>GT TIN No:</th>
					
					<th><i class="glyphicon glyphicon-asterisk"></i></th>
				</tr>
			</thead>
			<!-- Table heading END -->
			<!-- Table body -->
			<tbody>
				<tr th:each="openingBalance,iterStat : ${stockOpeningBalanceList}">
<!-- 					<td th:text="${iterStat.count}">S/No</td> -->
<!-- 					<td th:text="${openingBalance.globalItem.GlobalitemName}">Global Item Title</td>-->
					<td th:text="${openingBalance.globalUnitofMeasure.measurename}">Unit
						Of Measure</td>
					<td th:text="${openingBalance.action}">Action</td>
					<td th:text="${openingBalance.description}">Description</td>
					
					<td th:text="${openingBalance.openingBalance}">Opening Balance</td>
					
					<!-- <td th:text="${openingBalance.reorderlevel}">Date Added</td> -->
					<td th:text="${openingBalance.dateAdded}">Date Added</td>
					
					
					<td th:text="${openingBalance.batchno}">Batch</td>
					<td th:text="${openingBalance.manufacturedate}">ManufactDate</td>
					<td th:text="${openingBalance.expirydate}">Expiry Date</td>
					<td th:text="${openingBalance.manulicno}">License Date</td>

					<td>
						<div class="hidden-sm hidden-xs action-buttons">
							 <a class="btn btn-xs btn-primary tooltip-info" data-rel="tooltip"
								th:href="@{/inventory/stock_opening_balance/edit/{id}(id=${openingBalance.id}) }"><i
								class="fa fa-plus-circle"></i>Edit </a>
								
								<a
								class="btn btn-xs btn-primary tooltip-info" data-rel="tooltip"
								th:href="@{/inventory/stock_opening_balance/delete/{id}(id=${openingBalance.id}) }"><i
								class="fa fa-plus-circle"></i>Delete </a>
						</div>
					</td>
				</tr>

			</tbody>
			<!-- Table body END -->
		</table>
		<!-- End view content here -->
	</div>
</div>

<th:block th:if="${pageRegister}">

	<div id="modal-table" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">		
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						New Stock Adjust:
					</div>
				</div>


				<th:block th:if="${modal_msg}">
					<div>
						<div th:replace="layouts/commonviews/alert">Alert Block</div>
					</div>
				</th:block>

				<form role="form" class="form-horizontal" method="POST"  th:action="@{/inventory/stock_opening_balance/new}" 
					th:object="${stockOpeningBalanceForm}">

					<legend></legend>


					<div class="form-group" hidden="hidden">
						<label for="globalItem"
							class="col-sm-3 control-label no-padding-right">Global
							Item:</label>
						<!-- 	
						<div class="col-sm-9">
							<select class="col-xs-10 col-sm-5">
								<option value="">Select..</option>
								<option th:each="g : ${globalItemsList}" th:value="${g.id}"
									th:text="${g.name}"></option>
							</select> <span class="text-danger"
								th:if="${#fields.hasErrors('globalItem')}"
								th:errors="*{globalItem}"> </span>
						</div>
						-->
						 
						 <div class="col-sm-9">
	<input type="text" class="col-xs-10 col-sm-5"  	placeholder="Global Item"  th:field="*{globalItem}"/> <span
								class="text-danger"
								th:if="${#fields.hasErrors('*{globalItem}')}"
								th:errors="*{*{globalItem}}"></span>
						</div>
						 
						
					</div>




					<div class="form-group">
						<label for="unitOfMeasure"
							class="col-sm-3 control-label no-padding-right">Action Type:</label>
						<div id="unit-of-measure-holder" class="col-sm-9">
							<select class="col-xs-10 col-sm-5" th:field="*{action}">
								<option value="Adjust">Stock Adjustment</option>
								<option value="OpeningBal">Opening Balance</option>
								</select> <span class="text-danger"
								th:if="${#fields.hasErrors('action')}"
								th:errors="*{action}"> </span>
						</div>
					</div>
					
			


					<div class="form-group">
						<label for="unitOfMeasure"
							class="col-sm-3 control-label no-padding-right">Unit of
							Measure:</label>
						<div id="unit-of-measure-holder" class="col-sm-9">
							<select class="col-xs-10 col-sm-5" th:field="*{unitOfMeasure}" required="required">
								<option value="">Select..</option>
								<option th:each="u : ${globalitemunitofmeasurevw}" th:value="${u.id}"
									th:text="${u.measurename}"></option>
							</select> <span class="text-danger"
								th:if="${#fields.hasErrors('unitOfMeasure')}"
								th:errors="*{unitOfMeasure}"> </span>
						</div>
					</div>
					
<div class="form-group">
		
		            <label for="description" class="col-sm-3 control-label no-padding-right">Description:</label>
				<div class="col-sm-9">
							<input type="text"  class="col-xs-10 col-sm-5" id="description" 
								th:field="*{description}" required="required" />
								 <span class="text-danger"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></span>
						</div>
							
		</div>

					<div class="form-group">
						<label for="openingBalance"
							class="col-sm-3 control-label no-padding-right">Quantity
							:</label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/(?!^-)[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
								placeholder="Enter Quantity" th:field="*{openingBalance}" /> <span
								class="text-danger"
								th:if="${#fields.hasErrors('openingBalance')}"
								th:errors="*{openingBalance}"></span>
						</div>
					</div>
<div class="form-group" hidden="hidden">
						<label for="openingBalance"
							class="col-sm-3 control-label no-padding-right">Reorder Level:
							</label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
								placeholder="Enter Quantity" th:field="*{reorderlevel}" /> <span
								class="text-danger"
								th:if="${#fields.hasErrors('reorderlevel')}"
								th:errors="*{reorderlevel}"></span>
						</div>
					</div>

					<div class="form-group">
						<label for="dateAdded"
							class="col-sm-3 control-label no-padding-right">Date Added: </label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-12 col-sm-4 date-picker" required="required"
								id="date-picker" th:field="*{dateAdded}" /> <span
								class="text-danger" th:if="${#fields.hasErrors('dateAdded')}"
								th:errors="*{dateAdded}"></span>
						</div>
					</div>
					
					
					
					
					

					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">Batch No.:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{batchno}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('batchno')}"
								th:errors="*{batchno}"></span>
								
						</div>
						
					</div>




					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">GT TIN No:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{manulicno}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('manulicno')}"
								th:errors="*{manulicno}"></span>
								
						</div>
						
					</div>



					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">Serial No.:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{otherinfo}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('otherinfo')}"
								th:errors="*{otherinfo}"></span>
								
						</div>
						
					</div>



<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="date-picker">Manufacture Date:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-4 date-picker"
										th:field="*{manufacturedate}"
										data-date-format="yyyy-mm-dd" />
										
										<span class="text-danger"
										th:if="${#fields.hasErrors('manufacturedate')}" th:errors="manufacturedate"></span>

								</div>
							</div>
				</div>
	
				<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="date-picker">Expiry Date:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-4 date-picker"
										 th:field="*{expirydate}"
										data-date-format="yyyy-mm-dd" />
										
										<span class="text-danger"
										th:if="${#fields.hasErrors('expirydate')}" th:errors="expirydate"></span>

								</div>
							</div>
				</div>
		
					
					
					

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								name="code" th:value="${code}" />

							<button class="btn btn-primary" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i> Save
							</button>

						
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								aria-hidden="true">
								<i class="fa fa-plus-circle"></i>Cancel
							</button>

						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<style>
.date-picker {
	z-index: 1200 !important;
}
</style>



	<a id="modal_view" href="#modal-table" role="button" class="green"
		data-toggle="modal"> </a>
	<script type="text/javascript">
	/*<![CDATA[*/

		//height
		$(document).ready(function() {
			$('#modal_view').click();
			
			$('.date-picker').datepicker({
				autoclose: true,
				format: 'yyyy-mm-dd',
				todayHighlight: true
			});
			
		
			$('#globalItem').change(
					
			    function(event) {
			    	
			        var globalItem=$('#globalItem').val();
				    if(globalItem!=""){
				
				      
				var id=$('#id').val();
				var url;
				if(id!=0){
				   url="../../../item_unit_of_measure/"+$('#globalItem').val()
				}else{
				   url="../../item_unit_of_measure/"+$('#globalItem').val()
				}

				
			    $.ajax({     
			        url:url,    
			        type:"GET", 
			        contentType: "application/json; charset=utf-8",
			        async: true,    //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
			        cache: false,    //This will force requested pages not to be cached by the browser          
			        // processData:false, //To avoid making query String instead of JSON
			        dataType: 'json',
			        success: function(data){
			                    //now json variable contains data in json format
        //let's display a few items
			         // var json = $.parseJSON(data);
        //now json variable contains data in json format
        //let's display a few items
                     showGlobalItemUnitOfMeasureForm(data);
      
			        }, 
			        error: function(xhr,status){
			        },
			        complete: function(xhr,status){
			        }     
			    });
				    
				    }else{
				    	showGlobalItemUnitOfMeasureForm("");	
				    }
			       	
					});
			

		});
	
function showGlobalItemUnitOfMeasureForm(data){
			
			/*	
			var disp;
			var value="";
			var error="";
		    if(data!= undefined &&  data.length>0){
				disp="<fieldset><legend>Quantity</legend>";
			  for (var i=0;i<data.length;++i)
		        {
				    if(data[i].value!=undefined){
				       value=data[i].value;  
				    }

				    if(data[i].error!=undefined){
					       error=data[i].error;  
					    }
		        	
		        	disp+='<div class="form-group"><label for="'+data[i].name+'"'+
						'class="col-sm-3 control-label no-padding-right">'+data[i].name+':</label>'+
					'<div class="col-sm-9">'+
						'<input type="text" class="col-xs-10 col-sm-3"'+
							'placeholder="Enter Quantity" name="unit_of_measure_'+data[i].id+'"  value="'+value+'"/>'+
							'<span class="text-danger">'+error+'</span>'+
					'</div></div><input type="hidden" name="unit_of_measures[]" value="'+data[i].id+'" />'+
					'<input type="hidden" name="unit_of_measure_title_'+data[i].id+'" value="'+data[i].name+'" />';
		        }
			}else{
				disp="<fieldset><legend>Quantity</legend>";
				 disp+='<div class="form-group"><label for="" class="col-sm-3 control-label no-padding-right"></label>'+
				'<div class="col-sm-9">No unit of measure found for selected item</div></div>';
			}
			disp+="</fieldset>";
			  $('#unit-of-measure-form-holder').html(disp);
			  */
			var disp="";
			var value="";
			var error="";
			var default_data="";
			if(data!= undefined &&  data.length>0){
				disp+='<select class="col-xs-10 col-sm-5" name="unitOfMeasure"> <option value="">Select..</option>';                    
	  
			  for (var i=0;i<data.length;++i)
		        {
				    if(data[i].error!=undefined){
					       error=data[i].error;  
					    }
				    if(data[i].default_data!=undefined){
				    	default_data=data[i].default_data;  
					    }
				        disp+='<option value="'+data[i].id+'"';
		                if(default_data==data[i].id){
		                	disp+=' selected="selected"';    
		                }
		                disp+='>'+data[i].name+'</option>';    
		        }
              disp+='</select>';    

			}else{
				disp+='<select class="col-xs-10 col-sm-5" name="unitOfMeasure"> <option value="">Select..</option>';                    

			}
						  
			$('#unit-of-measure-holder').html(disp);
			  
	}	
	
	var data=new Array();
	
	   function buildObject(id,nme,val,err){
                      var myObject={
               id:id,name:nme,value:val,error:err
           }
           data.push(myObject);
       }
	
		/*]]>*/
	</script>
	<script
		th:src="@{/resources/assets/js/date-time/bootstrap-datepicker.min.js}"></script>
	<script
		th:src="@{/resources/assets/js/date-time/bootstrap-datetimepicker.min.js}"></script>


	<script th:inline="javascript">
        /*<![CDATA[*/     
       // buildObject([[${o.id}]],[[${o.name}]],[[${o.value}]],[[${o.field_error}]]);  

     /*]]>*/
   </script>


	<script type="text/javascript">
        /*<![CDATA[*/
		//if(data.length>0){
        //showGlobalItemUnitOfMeasureForm(data);
		//}
		/*]]>*/
  </script>
</th:block>

<th:block th:if="${pageEdit}">

	<div id="modal-table" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						Edit Stock Adjustment:
					</div>
				</div>


				<th:block th:if="${modal_msg}">
					<div>
						<div th:replace="layouts/commonviews/alert">Alert Block</div>
					</div>
				</th:block>

				<form role="form" class="form-horizontal" method="POST"  
					th:object="${stockOpeningBalanceForm}"> 

					<legend></legend>


					<div class="form-group" hidden="hidden">
						<label for="globalItem"
							class="col-sm-3 control-label no-padding-right">Global
							Item:</label>
						<!-- 	
						<div class="col-sm-9">
							<select class="col-xs-10 col-sm-5">
								<option value="">Select..</option>
								<option th:each="g : ${globalItemsList}" th:value="${g.id}"
									th:text="${g.name}"></option>
							</select> <span class="text-danger"
								th:if="${#fields.hasErrors('globalItem')}"
								th:errors="*{globalItem}"> </span>
						</div>
						
						 -->
						 <div class="col-sm-9">
	<input type="text" class="col-xs-10 col-sm-5"  	placeholder="Global Item"  th:field="*{globalItem}"/> <span
								class="text-danger"
								th:if="${#fields.hasErrors('*{globalItem}')}"
								th:errors="*{*{globalItem}}"></span>
						</div>
						 
						
					</div>




					<div class="form-group">
						<label for="unitOfMeasure"
							class="col-sm-3 control-label no-padding-right">Action Type:</label>
						<div id="unit-of-measure-holder" class="col-sm-9">
							<select class="col-xs-10 col-sm-5" th:field="*{action}">
								<option value="Adjust">Stock Adjustment</option>
								<option value="OpeningBal">Opening Balance</option>
								</select> <span class="text-danger"
								th:if="${#fields.hasErrors('action')}"
								th:errors="*{action}"> </span>
						</div>
					</div>
					
			



					<div class="form-group">
						<label for="unitOfMeasure"
							class="col-sm-3 control-label no-padding-right">Unit of
							Measure:</label>
						<div id="unit-of-measure-holder" class="col-sm-9">
							<select class="col-xs-10 col-sm-5" th:field="*{unitOfMeasure}">
								<option value="">Select..</option>
								<option th:each="u : ${globalitemunitofmeasurevw}" th:value="${u.id}"
									th:text="${u.measurename}"></option>
							</select> <span class="text-danger"
								th:if="${#fields.hasErrors('unitOfMeasure')}"
								th:errors="*{unitOfMeasure}"> </span>
						</div>
					</div>

<div class="form-group">
		
		            <label for="description" class="col-sm-3 control-label no-padding-right">Description:</label>
				<div class="col-sm-9">
							<input type="text"  class="col-xs-10 col-sm-5" id="description" 
								th:field="*{description}" required="required" />
								 <span class="text-danger"
								th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}"></span>
						</div>
							
		</div>
					<div class="form-group">
						<label for="openingBalance"
							class="col-sm-3 control-label no-padding-right">Quantity
							:</label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/(?!^-)[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
								placeholder="Enter Quantity" th:field="*{openingBalance}" /> <span
								class="text-danger"
								th:if="${#fields.hasErrors('openingBalance')}"
								th:errors="*{openingBalance}"></span>
						</div>
					</div>
					
					<div class="form-group" hidden="hidden">
						<label for="openingBalance"
							class="col-sm-3 control-label no-padding-right">Reorder Level:
							</label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-10 col-sm-5"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
								placeholder="Enter Quantity" th:field="*{reorderlevel}" /> <span
								class="text-danger"
								th:if="${#fields.hasErrors('reorderlevel')}"
								th:errors="*{reorderlevel}"></span>
						</div>
					</div>


					<div class="form-group">
						<label for="dateAdded"
							class="col-sm-3 control-label no-padding-right">Date Added: </label>
						<div class="col-sm-9">
							<input type="text" class="col-xs-12 col-sm-4 date-picker" required="required"
								id="date-picker" th:field="*{dateAdded}" /> <span
								class="text-danger" th:if="${#fields.hasErrors('dateAdded')}"
								th:errors="*{dateAdded}"></span>
						</div>
					</div>
					
					
					
					
					

					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">Batch No.:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{batchno}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('batchno')}"
								th:errors="*{batchno}"></span>
								
						</div>
						
					</div>




					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">GT TIN No:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{manulicno}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('manulicno')}"
								th:errors="*{manulicno}"></span>
								
						</div>
						
					</div>



					<div class="form-group">
				<label for="description" class="col-sm-3 control-label no-padding-right">Serial No.:</label>
			<div class="col-sm-9">
			<input type="text"  class="col-xs-10 col-sm-6"
					 placeholder="" th:field="*{otherinfo}" />
			
							<span class="text-danger"
								th:if="${#fields.hasErrors('otherinfo')}"
								th:errors="*{otherinfo}"></span>
								
						</div>
						
					</div>



<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="date-picker">Manufacture Date:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-4 date-picker"
										th:field="*{manufacturedate}"
										data-date-format="yyyy-mm-dd" />
										
										<span class="text-danger"
										th:if="${#fields.hasErrors('manufacturedate')}" th:errors="manufacturedate"></span>

								</div>
							</div>
				</div>
	
				<div class="form-group">
							<label class="control-label col-xs-12 col-sm-3 no-padding-right"
								for="date-picker">Expiry Date:</label>

							<div class="col-xs-12 col-sm-9">
								<div class="clearfix">

									<input type="text" class="col-xs-12 col-sm-4 date-picker"
										 th:field="*{expirydate}"
										data-date-format="yyyy-mm-dd" />
										
										<span class="text-danger"
										th:if="${#fields.hasErrors('expirydate')}" th:errors="expirydate"></span>

								</div>
							</div>
				</div>
		
					
					
					

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								name="code" th:value="${code}" />

							<button class="btn btn-primary" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i> Update
							</button>

						
							<button type="button" class="btn btn-danger" data-dismiss="modal"
								aria-hidden="true">
								<i class="fa fa-plus-circle"></i>Cancel
							</button>

						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<style>
.date-picker {
	z-index: 1200 !important;
}
</style>



	<a id="modal_view" href="#modal-table" role="button" class="green"
		data-toggle="modal"> </a>
	<script type="text/javascript">
	/*<![CDATA[*/

		//height
		$(document).ready(function() {
			$('#modal_view').click();
			
			$('.date-picker').datepicker({
				autoclose: true,
				format: 'yyyy-mm-dd',
				todayHighlight: true
			});
			
		
			$('#globalItem').change(
					
			    function(event) {
			    	
			        var globalItem=$('#globalItem').val();
				    if(globalItem!=""){
				
				      
				var id=$('#id').val();
				var url;
				if(id!=0){
				   url="../../../item_unit_of_measure/"+$('#globalItem').val()
				}else{
				   url="../../item_unit_of_measure/"+$('#globalItem').val()
				}

				
			    $.ajax({     
			        url:url,    
			        type:"GET", 
			        contentType: "application/json; charset=utf-8",
			        async: true,    //Cross-domain requests and dataType: "jsonp" requests do not support synchronous operation
			        cache: false,    //This will force requested pages not to be cached by the browser          
			        // processData:false, //To avoid making query String instead of JSON
			        dataType: 'json',
			        success: function(data){
			                    //now json variable contains data in json format
        //let's display a few items
			         // var json = $.parseJSON(data);
        //now json variable contains data in json format
        //let's display a few items
                     showGlobalItemUnitOfMeasureForm(data);
      
			        }, 
			        error: function(xhr,status){
			        },
			        complete: function(xhr,status){
			        }     
			    });
				    
				    }else{
				    	showGlobalItemUnitOfMeasureForm("");	
				    }
			       	
					});
			

		});
	
function showGlobalItemUnitOfMeasureForm(data){
			
			/*	
			var disp;
			var value="";
			var error="";
		    if(data!= undefined &&  data.length>0){
				disp="<fieldset><legend>Quantity</legend>";
			  for (var i=0;i<data.length;++i)
		        {
				    if(data[i].value!=undefined){
				       value=data[i].value;  
				    }

				    if(data[i].error!=undefined){
					       error=data[i].error;  
					    }
		        	
		        	disp+='<div class="form-group"><label for="'+data[i].name+'"'+
						'class="col-sm-3 control-label no-padding-right">'+data[i].name+':</label>'+
					'<div class="col-sm-9">'+
						'<input type="text" class="col-xs-10 col-sm-3"'+
							'placeholder="Enter Quantity" name="unit_of_measure_'+data[i].id+'"  value="'+value+'"/>'+
							'<span class="text-danger">'+error+'</span>'+
					'</div></div><input type="hidden" name="unit_of_measures[]" value="'+data[i].id+'" />'+
					'<input type="hidden" name="unit_of_measure_title_'+data[i].id+'" value="'+data[i].name+'" />';
		        }
			}else{
				disp="<fieldset><legend>Quantity</legend>";
				 disp+='<div class="form-group"><label for="" class="col-sm-3 control-label no-padding-right"></label>'+
				'<div class="col-sm-9">No unit of measure found for selected item</div></div>';
			}
			disp+="</fieldset>";
			  $('#unit-of-measure-form-holder').html(disp);
			  */
			var disp="";
			var value="";
			var error="";
			var default_data="";
			if(data!= undefined &&  data.length>0){
				disp+='<select class="col-xs-10 col-sm-5" name="unitOfMeasure"> <option value="">Select..</option>';                    
	  
			  for (var i=0;i<data.length;++i)
		        {
				    if(data[i].error!=undefined){
					       error=data[i].error;  
					    }
				    if(data[i].default_data!=undefined){
				    	default_data=data[i].default_data;  
					    }
				        disp+='<option value="'+data[i].id+'"';
		                if(default_data==data[i].id){
		                	disp+=' selected="selected"';    
		                }
		                disp+='>'+data[i].name+'</option>';    
		        }
              disp+='</select>';    

			}else{
				disp+='<select class="col-xs-10 col-sm-5" name="unitOfMeasure"> <option value="">Select..</option>';                    

			}
						  
			$('#unit-of-measure-holder').html(disp);
			  
	}	
	
	var data=new Array();
	
	   function buildObject(id,nme,val,err){
                      var myObject={
               id:id,name:nme,value:val,error:err
           }
           data.push(myObject);
       }
	
		/*]]>*/
	</script>
	<script
		th:src="@{/resources/assets/js/date-time/bootstrap-datepicker.min.js}"></script>
	<script
		th:src="@{/resources/assets/js/date-time/bootstrap-datetimepicker.min.js}"></script>


	<script th:inline="javascript">
        /*<![CDATA[*/     
       // buildObject([[${o.id}]],[[${o.name}]],[[${o.value}]],[[${o.field_error}]]);  

     /*]]>*/
   </script>


	<script type="text/javascript">
        /*<![CDATA[*/
		//if(data.length>0){
        //showGlobalItemUnitOfMeasureForm(data);
		//}
		/*]]>*/
  </script>
</th:block>


<th:block th:if="${pageDelete}">
	<div id="modal-table" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						Are you sure you want to delete this record?:
					</div>
				</div>

				<form role="form" class="form-horizontal" method="POST"   >

					<div class="col-xs-12 col-sm-9">
						<h4 class="blue">
							<span class="middle"> Stock Adjust Balance Details: </span>
						</h4>

						<div class="profile-user-info">
							<div class="profile-info-row">
								<div class="profile-info-name">Global Item Title:</div>

								<div class="profile-info-value">
									<span th:text="${stockOpeningBalance.globalItem.GlobalitemName}">Global
										Item</span>
								</div>
							</div>
							
							<div class="profile-info-row">
								<div class="profile-info-name">Unit Of Measure:</div>

								<div class="profile-info-value">
									<span th:text="${stockOpeningBalance.globalUnitofMeasure.measurename}">Unit Of Measure</span>
								</div>
							</div>
							
							

							<div class="profile-info-row">
								<div class="profile-info-name">Quantity:</div>

								<div class="profile-info-value">
									<span th:text="${stockOpeningBalance.openingBalance}">Opening
										Balance:</span>
								</div>
							</div>
							
							


							<div class="profile-info-row">
								<div class="profile-info-name">Date Added:</div>

								<div class="profile-info-value">
									<span th:text="${stockOpeningBalance.dateAdded}">Date
										Added</span>
								</div>
							</div>

						</div>

						<div class="hr hr-8 dotted"></div>
					</div>
					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<input type="hidden" name="id"
								th:value="${stockOpeningBalance.id}" />
							<button class="btn btn-primary" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i> Confirm Delete
							</button>

							<button type="button" class="btn btn-danger" data-dismiss="modal"
								aria-hidden="true">
								<i class="fa fa-plus-circle"></i>Cancel
							</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<a id="modal_view" href="#modal-table" role="button" class="green"
		data-toggle="modal"> </a>
	<script type="text/javascript">
			//height
			jQuery(function($) {
				$('#modal_view').click();
			});
		</script>

</th:block>


<script>
	jQuery(function($) {
		var oTable1 = $('#dTable').dataTable({
			bAutoWidth : false,
			"aoColumns" : [ {
				"bSortable" : true
			}, null, null,null, 
			{
				"bSortable" : false
			}
			,null,null,null,null,null
			]

		//,
		//"sScrollY": "200px",
		//"bPaginate": false,

		//"sScrollX": "100%",
		//"sScrollXInner": "120%",
		//"bScrollCollapse": true,
		//Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
		//you may want to wrap the table inside a "div.dataTables_borderWrap" element

		//"iDisplayLength": 50
		});

	});
</script>

<!-- PAGE CONTENT ENDS -->

<!-- /.row -->


<a href="#" id="btn-scroll-up"
	class="btn-scroll-up btn btn-sm btn-inverse"> <i
	class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> <script>
	$(document).ready(function(){
		<!-- Firstly Hide the Text -->
		$(".text").hide();
		
		<!-- Click on Radio button 1 to show Text for Radio button 1 -->
		$("#r1").click(function(){
			$(".text").show();
		});
		
		<!-- Click on Radio button 2 to hide Text for Radio button 2 -->
		$("#r2").click(function(){
			$(".text").hide();
		});		
	});
</script></a>







<script>
	function popAlert() {
	    var confirmAction = confirm('Hello Isaac Oghenevwapo');
	    alert(confirmAction);	    
	}
</script>
<!-- /.col -->
<script>
	$('#select').change(function(){
		var selectedVal = $('#select').val();
		/* alert('selectedVal: '+selectedVal); */
		if(selectedVal == 'surname'){
			$('#browserother').show();
		}else{
			$('#browserother').hide();
		}		
	});
	
	$('#select').change(function(){
		var selectedVal = $('#select').val();
		/* alert('selectedVal: '+selectedVal); */
		if(selectedVal == 'email'){
			$('#showEmail').show();
		}else{
			$('#showEmail').hide();
		}		
	}); 
	
	 $('#select').change(function(){
		var selectedVal = $('#select').val();
		/* alert('selectedVal: '+selectedVal); */
		if(selectedVal == 'phoneNumber'){
			$('#showPhone').show();
		}else{
			$('#showPhone').hide();
		}		
	}); 
	 
	 
	 
	 function myOpenGlobalitemwin() {
		   var myWindow = window.open("/EMR/search/inventorysearchwin", "_blank", "width=600, height=700");
		  //  myWindow.document.write("<p>This window's name is: " + myWindow.name + "</p>");
		    myWindow.resizeTo(600,700);
		    myWindow.focus();
		    return false
		  
		}
	
	function myglobalitem()
	{
		
		if ( $('#globalitemname').val()=='' )
			
			{
			
			alert("Global Item Name cannot be empty");
			return false;	
			}
		
		
		
	}
	
</script>
