<div class="page-header">
	<h1>
		Account: <small><span th:text="${account.code}">Code</span></small>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<!-- Button for view -->
		<a class="btn btn-xs btn-info" th:href="@{/ledger/totaling/index}">
			<i class="fa fa-home"></i> System Dashboard
		</a> 
		<a class="btn btn-xs btn-primary" th:href="@{/ledger/totaling/create}">
			<i class="fa fa-plus-circle"></i> Add Account
		</a>
	
 		<span   id="imgId" hidden="hidden" > 
 			<img th:src="@{/resources/assets/images/ajax-loader.gif}" id="loading_img" />  
 		</span>      
	</div>
</div>

<div>
	<div class="col-md-9">	
		<h4>Ledger Type <span th:text="${account.ledgerType.name}">Ledger Type</span></h4>
		<h4>Code <span th:text="${account.code}">Code</span></h4>
		<h4>Name: <span th:text="${account.name}">Name</span></h4>
	</div>
	
	<div class="col-md-3">
		<a th:href="@{/ledger/totaling/edit/{id} (id=${account.id})}" class="btn btn-info col-md-6">Edit</a>
		<a th:href="@{/ledger/totaling/delete/{id} (id=${account.id})}" class="btn btn-danger c0l-md-6">Delete</a>
	</div>
</div>